@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

body{
    background-color: #F6F8FE;
    display: flex;
    flex-direction: column;
    font-family: "Inter", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Space Grotesk", serif !important;
    font-weight: bolder !important;
}

.card-layanan{
    font-family: "Inter", serif;
}

.card-layanan:hover{
    color: #000;
}

.text-facility{
    font-family: "Space Grotesk", serif !important;
    font-weight: bolder !important;
}