@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.layout{
    padding: 0px 200px;
    background-color: #f9f9f9;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins' !important;
    font-weight: bold;
}

p{
    font-family: 'Montserrat' !important;
    color: #666;
}

.bg-jasa{
    display: flex;
    justify-content: space-between;
}

.img-card{
    position: relative;
    height: 200px;
}

.img-card img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-card .rate{
    position: absolute;
    background-color: #fff;
    padding: 5px 15px;
    text-align: center;
    z-index: 1;
    border-radius: 20px;
    right: 15px;
    top: 15px;
}

.rate span{
    font-family: 'Montserrat' !important;
    font-weight: 500;
    margin-right: 2px;
}